.rotate-banner {
  background-color: green !important;
  background: var(--tertiary-low) !important;
  dbackground: var(--tertiary-low) !important;
  color: var(--primary);
}

.alert-banner {
  padding: 0.5em 2.5em 0.5em 1em;
  margin-bottom: 1em;
}
